body{
    background-color: rgb(247,255,250);
    font-family: comfortaa;
    max-width: 100%;
    overflow-x: hidden;
}
.Post{
    padding: 10px;
    margin: 10px auto;
    border-radius: 12px;
    background-color: white;
    max-width:700px;
    width:100%;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}