body{
    background-color: rgb(247,255,250);
    font-family: comfortaa;
    max-width: 100%;
    overflow-x: hidden;
}
.allPost{
    
    display: flex;
    flex-direction: column;
    gap:15px;
    padding: 10px;
    max-width: 700px;
    width:100%;
    margin:0 auto 20px;
    background-color: white;
    border-radius:12px;
}
.Post{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.viewButton{
    background-image: linear-gradient(to right,rgb(139,92,246),rgb(14,165,233));
    color: white;
}
