body{
    background-color: rgb(247,255,250);
    font-family: comfortaa;
}
.allPost{
    
    display: flex;
    flex-direction: column;
    gap:15px;
    padding: 10px;
    width: 600px;
    margin:auto;
    background-color: white;
}
.Post{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}
.viewButton{
    background-image: linear-gradient(to right,rgb(139,92,246),rgb(14,165,233));
    color: white;
}
