body{
    background-color: rgb(247,255,250);
    font-family: comfortaa;
    max-width: 100%;
    overflow-x: hidden;
}
#postButton{
    background-image: linear-gradient(to right,rgb(139,92,246),rgb(14,165,233));
    color: white;
}
.formDiv{
    padding:16px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}